.whatIDo {
  z-index: -2;
  border-top: solid 4px rgb(134, 167, 208);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.toppage {
  z-index: -1;
  background-color: rgb(204, 80, 75);
  height: 43vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 15px 15px 10px rgb(204, 80, 75);
}
.logo {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 4.2em;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  position: absolute;
}

.title {
  font-family: "Arimo", sans-serif;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.623);
  letter-spacing: 0.1em;
}

.ele {
  height: 4rem;
}

.heading {
  z-index: -1;
  margin-top: 15vh;
  position: absolute;
  flex-wrap: wrap;
  font-family: "Arimo", sans-serif;
  font-size: 6em;
  font-weight: 800;
  color: rgba(255, 102, 97, 0.561);
}

.bottompage {
  z-index: -2;
  height: 48vh;
  width: 100vw;
  background-image: linear-gradient(
    to right,
    rgb(204, 80, 75),
    rgb(251, 130, 126)
  );
}

.projectsnip {
  z-index: 4;
  height: 12em;
  width: auto;
  border-radius: 5px;
}
.portfolio {
  display: flex;
  justify-content: space-around;
}
.projectbox {
  background-color: bisque;
  z-index: 2;
  width: 25em;
  height: 12em;
  margin-top: 4vh;
  border-radius: 5px;
  margin-left: 2vw;
  display: flex;
}
.description {
  list-style: none;
  color: black;
  a {
    position: relative;
  }
}

.projectboxtugofwar {
  background-color: bisque;
  z-index: 4;
  width: 35em;
  height: 12em;
  margin-top: 4vh;
  border-radius: 5px;
  margin-left: 2vw;
  display: flex;
}
