.myStory {
  border-top: solid 4px rgb(237, 168, 10);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.toppage {
  background-color: rgb(237, 168, 10);
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 15px 15px 10px rgb(237, 168, 10);
}

.logo {
  padding-top: 7rem;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.developer {
  flex-wrap: wrap;
  font-family: "Arimo", sans-serif;
  font-size: 6rem;
  font-weight: 800;
  color: rgb(192, 136, 6);
}

.bottompage {
  z-index: -2;
  height: 37vh;
  width: 100vw;
  background-image: linear-gradient(
    to right,
    rgb(237, 168, 10),
    rgb(253, 208, 104)
  );
}
